.containerAllAbout {
  background: linear-gradient(to bottom, #7a19f1, #332179);
  padding: 14% 0;
  color: var(--textColor);
  border-radius: 0px 0px 10% 10%;
}
.container-about {
  width: 50%;
  margin: auto;
  text-align: center;
}
.container-description {
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
}

.titleName {
  margin-bottom: 3%;
}


@media only screen and (max-width: 540px) {
  .container-description {
    width: 90%;
  }
}
