.containerAllAbout {
  background: linear-gradient(to bottom, #7a19f1, #332179);
  padding: 13% 0;
  color: var(--textColor);
}
.container-about {
  width: 50%;
  margin: auto;
  text-align: center;
}
.container-description {
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
}

.titleName {
  margin-bottom: 3%;
}
