.container-image {
  content: " ";
  right: 0;
  bottom: -82px;
  opacity: 0.1;
  left: 0;
  height: 510px;
  position: absolute;
  z-index: 1;
  background-position: center top;
  background-size: cover;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScxJyBkPSdNMCwyMjRMNjAsMjAyLjdDMTIwLDE4MSwyNDAsMTM5LDM2MCwxMjhDNDgwLDExNyw2MDAsMTM5LDcyMCwxNDkuM0M4NDAsMTYwLDk2MCwxNjAsMTA4MCwxMzguN0MxMjAwLDExNywxMzIwLDc1LDEzODAsNTMuM0wxNDQwLDMyTDE0NDAsMzIwTDEzODAsMzIwQzEzMjAsMzIwLDEyMDAsMzIwLDEwODAsMzIwQzk2MCwzMjAsODQwLDMyMCw3MjAsMzIwQzYwMCwzMjAsNDgwLDMyMCwzNjAsMzIwQzI0MCwzMjAsMTIwLDMyMCw2MCwzMjBMMCwzMjBaJz48L3BhdGg+PC9zdmc+);
  -webkit-animation: 3s rotate linear;
  animation: 3s rotate linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.imagen-2 {
  -webkit-animation: 3s rotate linear;
  animation: 3s rotate linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.imagen-2 {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.imagen-2 {
  margin-bottom: 2%;
  position: absolute;
}
@media only screen and (max-width: 540px) {
  .container-image {
    right: 0;
    bottom: -150px;
    opacity: 0.1;
    left: 0;
    height: 580px;
  }
}
