.contact-form {
  width: 50%;
  margin: auto;
}

.container-btnContact {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-text-contact {
  padding: 0% 2% 5% 2% !important;
}
.title-contact {
  margin-top: 0;
}
.error {
  color: #ef5771;
}

@media only screen and (max-width: 540px) {
  .container-text-contact {
    padding: 5% 2% !important;
  }
  .contact-form {
    width: 80%;
  }
  .btnContact {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 912px) {
  .container-text-contact {
    padding: 5% 2% !important;
  }
  .contact-form {
    width: 70%;
  }
  .btnContact {
    width: 50%;
  }
}
