.container-projects{
    background: linear-gradient(to bottom,#7a19f1,#332179);
    padding: 4% 0;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    color: var(--textColor);
}

.btnMoreProject{
    color: var(--textColor) !important;
}