.container-nav {
  width: 100%;
  border-bottom: #0000001c 2px solid;
  background-color: #741ce8 !important;
  z-index: 100;
  transition: 0.25s padding-top ease-in-out, 0.25s padding-bottom ease-in-out;
}

.contaner-li {
  width: 50%;
  margin: auto;
}
.li-nav {
  display: flex;
  justify-content: space-around;
}

.buttonPages:hover {
  color: #b7b1ce;
}

.link-menunav {
  display: flex;
  width: 100%;
  padding: 0 2%;
}
.text-link {
  margin-right: 15%;
}

.lista-menu {
  background-color: #1d9e3b !important;
}

.cv-link {
  text-decoration: none;
  color: #fff;
}
.cv-link:hover {
  color: #b7b1ce;
}

.link-cv {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}

.icon-menu {
  width: 10px !important;
}
.icon-menu:hover {
  color: #5b43d6 !important;
}
